* {
    margin: 0;
    padding: 0;
}


body{
    background-image: linear-gradient(rgba(255,255,255,0.395), rgba(255,255,255,0.395)), url(./images/img-1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: rgb(75, 38, 20);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

#logo img {
     width: 100px;
     height: 100px;
     padding-left: 40px;
     margin-top: 30px;
     border-radius: 10px;
}

.anchor {
    margin-top: 20px;
    padding-right: 60px;
    margin-top: 5%;
}

.anchor a {
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px 20px;
    color: rgb(76, 37, 20);
    background-color: #ffffff6b;
}




.home {
    display: flex;
    justify-content: space-between;
}

.home-head {
    padding: 149px 69px;
    font-size: large;
}

.home-head h1 {
    font-size: 45px;
}
h1 em {
    font-size: 71px;
    font-style: normal;
}

.home-head p {
   padding: 5px 0;
   
}

.home-head button {
    color: rgb(74, 39, 20);
    border: 1px solid rgb(74, 39, 20);
    background-color: transparent;
    padding: 10px;
    margin-left: 20%;
    margin-top: 16px;
    border-radius: 7px;
}

 .offer {
    margin-top: -50px;
    margin-left: 220px;
    border-radius: 9px;
    background-image: linear-gradient(rgba(0,0,0,0.265), rgba(0,0,0,0.265)), url();
}  

.offer img {
    width: 380px;
    height: 220px;
    background-size: cover;
    border-radius: 9px;
   
}

.home-image {
    width: 400px;
}

.home-image img {
    width: 400px;
    border-radius: 6px;
    height: 490px;
    margin-top: 110px;
}

.home-image {
    position: relative;
    animation: move 1.7s both;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
}

@keyframes move {
    from {right: 0px;}
    to {right: 100px;}
    
   
}


/*   cont   */


#head{
    margin-left: 30px;
    font-size: 51px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 60px;
    text-decoration: underline;
}


.cofe-cont {
    display: flex;
    justify-content: space-evenly;
    margin-top: 39px;
}

.cofe-cup {
    width: 189px;
    height: 199px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 49px;
    background-image: linear-gradient(rgba(0,0,0,0.265), rgba(0,0,0,0.265)), url(images/img-1.jpg);
    background-size: cover;
    color: white;
    transition: transform 0.4s ease-in 0.5s;
}

.cofe-cup:hover {
    transform: scale(1.1);
}


.cofe-cup img {
    width: 149px;
    height: 130px;
    position: relative;
    top: -40px;
    border-radius: 50%;
}

.cofe-cup h2 {
    margin-top: -15px;

}


.cofe-cup p {
    font-size: 12px;
    padding: 5px;
}



/*  image text  */

.image-text {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 40px;
    margin-top: 29px;
}

.image-text img {
    width: 399px;
    margin-right: 40px;
    border-radius: 9px;
}

.image-text p {
    font-size: x-large;
    font-weight: 500;
    margin-right: 30px;
    text-align: justify;
    color: blue;
}

/* cold   cofe  */

.cold-cont {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 89px;
    margin-top: 51px;

}

.cold-cont .cof-cup {
    width: 228px;
    height: 260px;
    border: 5px solid white;
    text-align: center;
    background-color: rgba(184, 118, 82, 0.590);
    transition: transform 0.4s ease-in 0.9s;
    border-radius: 5px;

}

.cof-cup:hover {
    transform: translateY(-10px);
}

.cof-cup img {
    width: 100px;
    height: 145px;
    padding: 30px 0px;
}
.text-body {
    background-color: white;
    padding: 14px;
}
.text-body h4 {
    font-size: 3vh;
}


/* beans */

.bean-cont {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.bean-cont div {
    text-align: center;
    width: 180px;
    height: 180px;
    border-radius: 10px;
    border: 1px solid rgba(76, 49, 33, 0.589);
    box-shadow: 2px 2px 10px 10px rgba(76, 49, 33, 0.589);
}

.bean-cont img {
    position: relative;
    top: -70px;
    width: 120px;
    height: 180px;
    border-radius: 9px 9px 0px 0px ;
}

.bean-cont p {
    margin-top: -50px;
}



/*  small  1000  */

@media(max-width: 1000px) {
    #logo img {
        width: 69px;
        height: 69px;
        padding-left: 29px;
    }

    .anchor {
    padding-right: 50px;
    }
    .anchor a{
        padding: 9px 9px;
    }

    /*  home  */

    .home-head{
       padding: 150px 49px;
    }

    .home-head h1 {
        font-size: 35px;
    }
    h1 em {
        font-size: 50px;
    }
    .home-head button {
        padding: 8px;
        margin-top: 7px;
    }

    .offer {
        margin-top: -69px;
        margin-left: -69;
    }
    .offer img {
       width: 299px;
    }
    .home-image img {
        width: 299px;
    }

    @keyframes move {
        from {right: 0px;}
        to {right: 49px;}
    }

    /*   cont  */

    .cofe-cont {
        display: flex;
        justify-content: space-evenly;
        margin-top: 90px;
    }

    .cofe-cup {
        width: 190px;
        height: 190px;
    }

    .cofe-cup img {
        width: 149px;
        height: 129px;
    }

    .cofe-cup h2 {
        margin-top: -14px;
    }

    /* image text */

    .image-text {
        padding: 39px 10px;
        margin-top: 29px;
    }

    .image-text img {
        width: 33%;
    }

    .image-text p {
        padding: 10px 20px ;
        font-size: 2.5vh;
        font-weight: 449px;
    }

    /* cold  */

    .cof-cup {
        width: 180px;
        height: 260px;
    }
    .cof-cup h4 {
        font-size: 2.1vh;
    }

    /* bean  */
    .bean-cont {
        display: grid;
        grid-template-columns: 30% 30%;
        justify-content: center;
        align-items: center;
        gap: 80px;
    }

    .bean-cont div {
        width: 250px ;
        height: 250px;
    }
   
    .bean-cont img {
        position: relative;
        top: -150px;
        width: 240px;
    }

    .bean-cont p {
        margin-top: -180px;
        font-size: 25px;
    }

}




/* tab  */

@media(max-width: 780px) {
    #logo img {
        height: 59px;
        width: 59px;
        
    }

    .anchor a {
        font-size: 2.6vh;
        padding: 5px;
    }

    /*  home   */

    .home-head {
        padding: 149px 21px;
    }
    .home-head h1 {
        font-size: 25px;
    }
    h1 em {
        font-size: 40px;
    }

    .home-head img {
        width: 14px;
        padding: 5px;
    }

    .home-head p {
        font-size: small;
    }

    .home-head button {
        padding: 5px;
    }

    .offer {
        margin-top: -69px;
        margin-left: -69;
    }

    .offer img {
        width: 299px;
    }

    .home-head img {
        width: 299px;
    }

    @keyframes move {
        from {right: 0px;}
        to {right: 5%;}
    }


    /*  cont   */


   

    .cofe-cont .cofe-cup {
        width: 149px;
        height: 169px;
    }

    .cofe-cup img {
        width: 119px;
        height: 99px;
    }

    .cofe-cup h2 {
        font-size: medium;
        margin-top: -19px;
    }
    

    /*  image text  */

    .image-text {
        padding: 40px 0px;
        margin-top: 30px;
    }

    .image-text img {
        width: 30%;
    }
    .image-text p {
        font-size: 2vh;
        font-weight: 400px;
        padding: 0px 19px;
    }

/* cold   */

.cold-cont {
    display: grid;
    grid-template-columns: 30% 30%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 49px;
    gap: 29px;
}

.cof-cup {
    width: 220px;
    height: 250px;
}

.cold-cont img {
    padding: 30px 40px;
    width: 100px;
    height: 150px;
}


/* bean  */

.bean-cont {
    display: grid;
    grid-template-columns: 30% 30%;
    
}

.bean-cont div {
    width: 220px;
     height: 220px;
}

.bean-cont img {
    position: relative;
    top: -50px;
    width: 120px;
}

.bean-cont p {
    margin-top: -26px;
    font-size: 15px;
    color: white;
}

}

/*  phone  */

@media(max-width: 430px) {
    #logo img {
        height: 49px;
        width: 50px;
        padding-left: 10px;
        margin-top: 15px;
    }
    .anchor {
        padding-right: 10px;
        margin-top: 5px;
    }

    .anchor a {
        padding: 5px 5px;
    }

    /*  home */

    .home-head {
        padding: 59px 19px;
    }
    .home-head h1 {
        font-size: 3vh;
    }
    h1 em {
        font-size: 4vh;
    }

    .home-head img {
        width: 10px;
        padding: 2px;
        margin: 8px 0px;
        margin-bottom: 0px;
    }

    .home-head p {
        font-size: 1.2vh;
    }

    .home-head button {
        padding: 2px;
        margin-left: 5px;
        font-size: 1.3vh;
    }

    .offer {
        margin-top: -39px;
    }
    .offer img {
        width: 139px;
    }

    @keyframes move {
        from {right: 0px;}
        to {right: 5%;}
    }

    /*  cont   */ 

    .cofe-cont {
        display: grid;
        grid-template-columns: 1;
        gap: 30px;
        margin-top: 30px;
        margin-bottom: 69px;
    }

    .cofe-cup {
        width: 255px;
        height: 219px;
    }

    .cofe-cup img {
        width: 180px;
        height: 150px;
    }

    .cofe-cup h2 {
        margin-top: -15px;

    }

    /*  image text  */

    .image-text {
        display: grid;
        padding: 0;
        margin: 0px;
        margin-bottom: 60px;
    }

    .image-text img {
        width: 140px;
        display: block;
        margin: 0 auto;
    }

    .image-text p {
        font-size: 2.5vh;
        font-weight: 300;
        margin-right: 0;
        text-align: justify;
        padding-top: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }

    /*  cold  */

    .cold-cont{
        display: grid;
        grid-template-columns: 66%;
        justify-content: space-evenly;
        align-items: center;
        margin-top: -10px;
        gap: 29px;
    }
    .cof-cup {
        width: 220px;
        height: 250px;
    }

    .cof-cup img {
        padding: 30px 40px;
        width: 100px;
        height: 150px;
    }

    /*  beans */

    .bean-cont {
        display: grid;
        grid-template-columns: 70%;
        justify-content: center;
        align-items: center;
        gap: 80px;
        margin-top: 30px;
    }

    .bean-cont div {
        width: 250px ;
        height: 250px;
    }
    .bean-cont img {
        position: relative;
        top: -40px;
        width: 140px;
    }

    .bean-cont p {
        margin-top: -5px;
        font-size: 19px;
    }


    #head {
        font-size: 15px;

    }

}