* {
    margin: 0;
    padding: 0;
}


body{
    background-image: linear-gradient(rgba(255,255,255,0.395) rgba(255,255,255,0.395) url(./images/img-1.jpg));
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: rgb(75, 38, 20);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo img {
     width: 80px;
     height: 80px;
     padding-left: 40px;
     margin-top: 30px;
}

.anchor {
    margin-top: 20px;
    padding-right: 60px;
    margin-top: 5px;
}

.anchor a {
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px 20px;
    color: rgb(76, 37, 20);
    background-color: #ffffff6b;
}




.home {
    display: flex;
    justify-content: space-between;
}

.home-head {
    padding: 149px 69px;
    font-size: large;
}

.home-head h1 {
    font-size: 45px;
}
h1 em {
    font-size: 61px;
    font-style: normal;
}

.home-head p {
   padding: 5px 0;
}

.home-head button {
    color: rgb(74, 39, 20);
    border: 1px solid rgb(74, 39, 20);
    background-color: transparent;
    padding: 10px;
    margin-left: 20%;
    margin-top: 16px;
    border-radius: 7px;
}

 .offer {
    margin-top: -60px;
    margin-left: -0px;
}  

.offer img {
    width: 400px;
    height: 400px;
   
}

.home-image {
    width: 400px;
}

.home-image img {
    width: 400px;
}

.home-image {
    position: relative;
    animation: move 3s both;
}

@keyframes move {
    from {right: 0px;}
    to {right: 100px;}
   
}





/*  small  1000  */

@media(max-width: 1000px) {
    #logo img {
        width: 69px;
        height: 69px;
        padding-left: 29px;
    }

    .anchor {
    padding-right: 50px;
    }
    .anchor a{
        padding: 9px 9px;
    }

    /*  home  */

    .home-head{
       padding: 150px 49px;
    }

    .home-head h1 {
        font-size: 35px;
    }
    h1 em {
        font-size: 50px;
    }
    .home-head button {
        padding: 8px;
        margin-top: 7px;
    }

    .offer {
        margin-top: -69px;
        margin-left: -69;
    }
    .offer img {
       width: 299px;
    }
    .home-image img {
        width: 299px;
    }

    @keyframes move {
        from {right: 0px;}
        to {right: 49px;}
    }
}


/* tab  */

@media(max-width: 780px) {
    #logo img {
        height: 59px;
        width: 59px;
        
    }

    .anchor a {
        font-size: 2.6vh;
        padding: 5px;
    }

    /*  home   */

    .home-head {
        padding: 149px 21px;
    }
    .home-head h1 {
        font-size: 25px;
    }
    h1 em {
        font-size: 40px;
    }

    .home-head img {
        width: 14px;
        padding: 5px;
    }

    .home-head p {
        font-size: small;
    }

    .home-head button {
        padding: 5px;
    }

    .offer {
        margin-top: -69px;
        margin-left: -69;
    }

    .offer img {
        width: 299px;
    }

    .home-head img {
        width: 299px;
    }

    @keyframes move {
        from {right: 0px;}
        to {right: 5%;}
    }

    
}

/*  phone  */

@media(max-width: 430px) {
    #logo img {
        height: 49px;
        width: 50px;
        padding-left: 10px;
        margin-top: 15px;
    }
    .anchor {
        padding-right: 10px;
        margin-top: 5px;
    }

    .anchor a {
        padding: 5px 5px;
    }

    /*  home */

    .home-head {
        padding: 59px 19px;
    }
    .home-head h1 {
        font-size: 3vh;
    }
    h1 em {
        font-size: 4vh;
    }

    .home-head img {
        width: 10px;
        padding: 2px;
        margin: 8px 0px;
        margin-bottom: 0px;
    }

    .home-head p {
        font-size: 1.2vh;
    }

    .home-head button {
        padding: 2px;
        margin-left: 5px;
        font-size: 1.3vh;
    }

    .offer {
        margin-top: -39px;
    }
    .offer img {
        width: 139px;
    }

    @keyframes move {
        from {right: 0px;}
        to {right: 5%;}
    }
}